<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forms</title>
</head>

<body>
  <h1> Search by Title or Author</h1>
<!-- http://localhost:3000/cookies -->
  <!-- http://localhost:3000/cookies?name=stephen+king&flavor=yak+cheese&quantity=99 -->
<!-- http://127.0.0.1:8080/?name=stephen+king&flavor=yak+cheese&quantity=3 -->


<!-- Forms talk to their own url, we can change it with the "action" -->
<!-- if talking to YOUR server, you don't need the full url -->
<!-- only need the route "/order" -->
  <form action="/order">
    <fieldset>
      <legend> Title </legend>

      <label for="title">
        Title
        <input type="text" name="name">
      </label>

      <label for="author">
        Author
        <input type="text" name="flavor">
      </label>

      <input type="submit">
    </fieldset>
  </form>
</body>

</html>