<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forms</title>
</head>

<body>
  <h1> Search Books by Title or Author</h1>
  <nav>
    <a href: = "/book-search">Book search</a> </br>
  </nav>
<!-- http://localhost:3000/cookies -->
  <!-- http://localhost:3000/cookies?name=stephen+king&flavor=yak+cheese&quantity=99 -->
<!-- http://127.0.0.1:8080/?name=stephen+king&flavor=yak+cheese&quantity=3 -->

  <form action="/order">
    <fieldset>
      <legend>
        <h2>Search Books</h2>
      </legend>
      <label for="title">Title</label>
      <input type="text" name="title">
      <input type="submit" value="search by title"
      <label for="author">Author</label>
      <input type="text" name="author">
      <input type="submit" value="search by author">
    </fieldset>
  </form>
</body>
</html>