<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="layout.css">
  <link rel="stylesheet" href="modules.css">

<nav>
  <ul>
    <li>
      <a href='/search.ejs'>Search for books</a>
    </li>
  </ul>
</nav>
</head>
<body>
  <h1>Books</h1>
  <nav>
    <a href="/book-search">book search</a>
  </nav>
  <form action="/book-search" method="POST">
    <fieldset>
      <legend>Book Search</legend>
      <form action="/book-search" method="POST">
      <input type="radio" id="author" name="searchType" value="author">
      <label for="Author">Author</label>
      <input type="radio" id="title" name="searchType" value="title">
      <label for="Title">Title</label>
      <input type="text" name="searchTerm">
      <input type="submit" value="search">
      </form>
    </fieldset>
</body>

</html>