<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="modules.css">
</head>
<body>
  <h1>Books</h1>
  <h2>
    <p>There are <%= titles.length %> books in your library
    </p>
  </h2>

  <% for(let i = 0; i < titles.length; i++){ %>
    <div href="/pages/results.ejs">
      <li>
        <p><%= titles[i] %></p>
        <form action="save-book" method="POST">
        <input type="hidden" name="title" value="<%= titles[i] %>">
        <input type="submit" value="View details">
        </form>
      </li>
    </div>
  <% } %>

  <nav>
    <a href="/book-search">book search</a>
  </nav>
</body>
</html>